.app-layout{
  padding-left: 208px;
  padding-top: 64px;
  transition: all 0.2s;
}

.site-sidebar-container{
  //overflow: auto;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
  top: 0;
  width: 208px !important;
  flex: 0 0 208px !important;
  max-width: 208px !important;
  min-width: 208px !important;
}
.site-layout-header{
  background: #fff;
  padding: 0px;
}


.site-layout-header{
  position: fixed;
  zIndex: 10;
  width: calc(100% - 208px);
  top: 0;
  left: 208px;
  z-index: 19;
  border: 1px solid #f2f2f2;
  transition: all 0.2s;
}

.site-layout-content{
  padding: 10px;
}

.app-layout-collapsed{
  padding-left: 80px;
  .site-layout-header{
    width: calc(100% - 80px);
    left: 80px;
  }
}


.app-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.app-layout .trigger:hover {
  color: #1890ff;
}

.app-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}



